<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoeMinimal-Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MoeMinimal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BFF567597B967EFC7A54EBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEEE9835031B4B470A13D21A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDC1A1D3AA2FFB29B2BD1EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F79338934C167CADEF5518F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
